*.userprefs
*.local.xml
*.sln.docstates
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.tss
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log

[Bb]in/
[Dd]ebug/
[Oo]bj/

*.lib
*.sbr

.vs/
[Rr]elease*/

# ReSharper
_ReSharper*/
*.DotSettings

# NCrunch
_NCrunch*/
*.ncrunchproject
*.ncrunchsolution

# Nuget packages
/packages
*.nupkg

#Github credentials
AsciiDocNet.Tests/credentials.json

project.lock.json
