*.userprefs
*.local.xml
*.sln.docstates
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.tss
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log

[Bb]in/
[Dd]ebug/
[Oo]bj/

*.lib
*.sbr

.vs/
.vs/*
/src/.vs/restore.dg
[Rr]elease*/

# ReSharper
_ReSharper*/
*.DotSettings

# NCrunch
_NCrunch*/
*.ncrunchproject
*.ncrunchsolution

# Nuget packages
/packages
*.nupkg

#Github credentials
AsciiDocNet.Tests/credentials.json

#lock files
project.lock.json
*.project.lock.json

#build files
build/*
!build/tools
!build/keys
build/tools/*
!build/tools/sn
!build/tools/sn/*
!build/tools/ilmerge
!build/*.fsx
!build/*.fsx
!build/*.ps1
!build/*.nuspec
!build/*.png
!build/scripts

.fake/*
.fake
packages/*
paket.exe
src/.idea/
.paket/
paket-files/
docs/
visited-docs/
